/* utility */
section {
    margin-bottom: 2rem;
}

.btnCircle {
    border-radius: 1.375rem;
    font-size: 0.7rem;
    font-weight: bold;
}

.btnOrange {
    background-color: #cd3d0f;
}

.btnBlue {
    background-color: #2d64e6;
}

.btnGrey {
    background-color: #d9dadc;
    color: #2d64e6;
    margin: 0;
}

ul {
    list-style: none;
}

/* header logo sony*/
.logoSony {
    width: 6rem;
}

.logoSonyImg {
    width: 4rem;
}

/* jumbotron */
.jumbotronBig {
    color: white;
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 30rem;
}

.logoJumbo {
    width: 12rem;
}

.imgSelector {
    padding: 2px;
    border-radius: 0.95rem;
}

.imgSelectorActive {
    border: 2px solid #2d64e6;
}

/* titles */
.titleMotto {
    font-size: 0.7rem;
}

/* sponsor ps5 */
.sponsorImg {
    opacity: 75%;
    text-align: center;
}

.sponsorImg.sponsorImgActive {
    opacity: 100%;
    box-shadow: 0px 2px #2d64e6;
}

/* next game */
.nextGameMain {
    color: white;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 30rem;
}

.nextGameList {
    background-color: #1f1f1f;
    color: white;
}

/* playstation plus */
.PSPlus {
    background-color: #bebcbb;
}

.PSPlusImg {
    width: 14rem;
}

/* sconti */
.scontiImg {
    /* max-width: 17rem; */
}

/* playstastion now */
.PSNow {
    background-color: #161c3b;
    color: white;
}

.PSNowImg {
    width: 14rem;
}

/* footer */
footer {
    background-color: #2d64e6;
    color: white;
}

.logoFooter {
    width: 5rem;
}

.logoGlobe {
    width: 0.7rem;
}

.footerText {
    font-size: 0.7rem;
}

.logoSIE {
    width: 5rem;
}

.footerA {
    color: white;
}