/* utility */
.btnCircle {
    border-radius: 1.375rem;
}

.btnOrange {
    background-color: orange;
    font-size: 0.7rem;
    font-weight: bold;
}

/* header logo sony*/
.logoSony {
    width: 6rem;
}

.logoSonyImg {
    width: 4rem;
}

/* jumbotron */
.jumbotron {
    color: white;
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 30rem;
}

.logoJumbo {
    width: 12rem;
}